<% form_tag atualizar_pedido_itens_path, :method => :post do %>
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Preço Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render pedido_atual.itens %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>Preço Total:</td>
        <td><%= number_to_currency pedido_atual.preco_total %></td>
      </tr>
    </tfoot>
  </table>
  <%= submit_tag 'Adicionar' %>
<% end %>